@font-face {
  font-family: 'roboto_condensedregular';
  src: url('robotocondensed-regular-webfont.eot');
  src: url('robotocondensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('robotocondensed-regular-webfont.woff') format('woff'),
       url('robotocondensed-regular-webfont.ttf') format('truetype'),
       url('robotocondensed-regular-webfont.svg#roboto_condensedregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto_condenseditalic';
  src: url('robotocondensed-italic-webfont.eot');
  src: url('robotocondensed-italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('robotocondensed-italic-webfont.woff') format('woff'),
       url('robotocondensed-italic-webfont.ttf') format('truetype'),
       url('robotocondensed-italic-webfont.svg#roboto_condenseditalic') format('svg');
  font-weight: normal;
  font-style: normal;
}